extends index 

block content
    link(rel="stylesheet" href="/stylesheets/add-project.css")
    
    h1#add-project-heading Add Project

    //- - console.log('SLUG', projectData.slug)
    -
        let slug;
        if(projectData)
            slug = projectData.slug;
        else
            slug = undefined;

    form#add-project-form(data-slug=slug)
        include add-project-inputs/1-project-name
        include add-project-inputs/2-slug
        include add-project-inputs/3-type
        include add-project-inputs/4-client-name
        include add-project-inputs/5-credits
        include add-project-inputs/6-description
        include add-project-inputs/7-date-completed
        include add-project-inputs/8-desktop-cover-photo
        include add-project-inputs/9-mobile-cover-photo
        include add-project-inputs/10-desktop-inside-media
        include add-project-inputs/11-mobile-inside-media
        include add-project-inputs/12-show-on-homepage
        include add-project-inputs/13-project-id

        button#add-project-submit-button Submit Project
    
    script(src="/javascripts/admin-add-project-variables.js")
    script(src="/javascripts/handle-admin-inputs.js")
    script(src="/javascripts/add-project.js")