extends admin-layout

block nav
    nav#admin-nav
        ul
            li 
                a(href='./dashboard') All Projects
            div.nav-divider
            li 
                a(href='./add-project') Add Project

    block content 