extends admin-layout

block nav
    nav#admin-nav
        ul
            li 
                a(href='/admin/dashboard') All Projects
            div.nav-divider
            li 
                a(href='/admin/add-project') Add Project

        form(action="/logout?_method=DELETE" method="POST")
            button(type="submit") Log Out

    block content


    script(src="/javascripts/popup-html.js")