extends admin-layout

block content


    form.admin-login-form.form(method="post" action="/login")

        h1 Log In
        input(name="username" placeholder="Username")
        input(name="password" placeholder="Password" type="password")
        if slots_available
            a(href="/register") Go to Register Page
        button Login

        if messages.notification
            span= messages.notification

        if messages.error
            span= messages.error

