extends admin-layout

block content
    form(id="admin-login-form" class="form")
        input(name="username" placeholder="Username")
        input(name="password" placeholder="Password" type="text")
        a(href="admin/dashboard") Dashboard
        button Login

