extends admin-layout

block content


    form.admin-login-form.form( method="post" action="/register")

        h1 Register
        input(name="username" placeholder="Username" value=username required)
        input(name="password" placeholder="Password" type="password" required)
        input(name="password2" placeholder="Re-enter Password" type="password" required)
        a(href="/login") Go to Login Page
        button Register

        if messages.notification
            span= messages.notification

