extends layout 

block content 
    link(rel='stylesheet' href='/stylesheets/about.css')

    div#about-section
        h2#about-header.fade-up(data-aos="fade-up") I like a little drama

        p.about-paragraph.fade-up-300(data-aos="fade-up" data-aos-delay=300).
            I design images that speak a thousand words. I do it for clarity and to boost the client’s bottom line. But always with a bit of drama and flamboyance. Why? Because I’m design's harshest critic. I believe that while the world is full of potential, most design is a series of missed opportunities. 
        p.about-paragraph.fade-up-600(data-aos="fade-up" data-aos-delay=600).
            So I create beautiful things using my signature formula: dramatically clear design. Everything I do is original, engaging, and perfected to the last dot over the last i. But I never sacrifice the story it must tell to sell. Call it a healthy balance between art and strategy. Or call it an unhealthy obsession.
