extends layout 

block content 
    link(rel='stylesheet' href='/stylesheets/contact.css')

    div#contact-section

        h2#contact-header You have my attention
        h4#contact-subheader Now let's get theirs

        form#contact-form
            div#contact-form-inputs
                input(type='text' name='firstName' id='firstName' placeholder='First Name' autocomplete="given-name")
                input(type='text' name='lastName' id='lastName' placeholder='Last Name' autocomplete="family-name")
                input(type='text' name='subject' id='subject' placeholder='Subject')
                textarea(name='message' id='message' placeholder='Message' )

            button#contact-form-submit Submit

        p#contact-form-result-message <i class="fas fa-check"></i> Success! We got your message.
        