extends layout

block content
    script(type='text/javascript').
        var data = !{JSON.stringify(data)}
        //- console.log(data);


    div#home-main-section

        div#home-main-content-container
            div#home-main-content-info

                h1#home-main-info-header
                    | Meir 
                    br
                    | Unger
                p#home-main-info-tagline I visualize your message through a range of communicative media, using a touch of drama.

                a#home-main-info-button(href="./portfolio")
                    span See it

    div#home-projects-section 

        h3#home-projects-section-header Trending Projects 

        each project in data
            a(href=`./portfolio/${project.slug}`)
                div.home-projects-single.container
                    h4.home-projects-single-header= project.project_name
                    img.home-projects-single-image(src="/images/voyage-resources.png")

    footer
        img#footer-logo(src="/svg/logo.svg")

        div#footer-contact-container
            div#footer-contact-phone 347-664-0203
            div#footer-contact-email meir@meirunger.com
        div#footer-copyright-container &copy; 2022 Meir Unger &#183; Built by D7mtg &#183; All Rights Reserved

//- script(id="__bs_script__")
//-     document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.7'><\/script>".replace("HOST", location.hostname));
