doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/font/font.css')
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        script(src="https://kit.fontawesome.com/f383a529e7.js" crossorigin="anonymous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    body
        script(src="/javascripts/utils.js" defer)
        script(src='/javascripts/mobile-nav.js' defer)
        nav
            //- img#nav-svg-dots(src="/svg/nav-dots.svg")
            
            img#nav-mobile-menu-icon(src="/svg/nav-mobile-icon.svg")
            img#nav-logo(src="/svg/logo.svg")
            div#nav-mobile-overlay.hidden
                div#nav-mobile-options-container
                    span#nav-mobile-exit-icon &#10006;
                    ul
                        li 
                            a.nav-mobile-option-single(href="/") Home
                        li 
                            a.nav-mobile-option-single(href="/portfolio") Work
                        li 
                            a.nav-mobile-option-single(href="/about") About
                        li 
                            a.nav-mobile-option-single(href="/contact") Contact


            //- ul 
            //-     - // render first link differently depending on if we are on homepage or not
            //-     a(href=`${path === '/' ? './portfolio' : '/'}`)
            //-         li= path === '/' ? 'Work' : 'Home'
            //-     a(href='./about')
            //-         li About
            //-     - const classes=['a', 'b', 'c']
            //-     a(href='./contact' class=classes)
            //-         li Contact
        block content

        footer
                img#footer-logo(src="/svg/logo.svg")

                div#footer-contact-container
                    div#footer-contact-phone 347-664-0203
                    div#footer-contact-email meir@meirunger.com
                div#footer-copyright-container &copy; 2022 Meir Unger &#183; Built by D7mtg &#183; All Rights Reserved