extends layout 

block content
    - const parsedData = JSON.parse(data);

    h1 All portfolio projects
    
    div 
        each project in parsedData
            a(href=`./portfolio/${project.slug}`)
                div
                    h1= project.client_name
                    h2= project.project_name