div#about-section {
  margin-top: 45.93px;
  margin-bottom: 108px;
  margin-left: var(--home-left-margin-padding);
  margin-right: var(--home-right-margin-padding);
}

h2#about-header {
  font-size: 36px;
  line-height: 31.5px;
  margin-bottom: 38px;
}

p.about-paragraph {
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 23.4px;
}

p.about-paragraph:not(:last-of-type) {
  margin-bottom: 20px;
}

/* @media screen and (min-width: 630px) {
  div#about-section {
    padding-left: var(--footer-left-padding-margin);
  }

  p.about-paragraph {
      width: 448px;
      margin-right: auto;
  }
} */

@media screen and (min-width: 700px) {
  div#about-section {
    margin-top: 95.74px;
  }

  h2#about-header {
    font-size: 48px;
    margin-bottom: 50px;
  }

  p.about-paragraph {
    width: 448px;
}
}
