div#about-section {
  background: var(--black-1);
  padding: 45.93px 50.04px 108px 47.67px;
  color: var(--white-1);
}

h2#about-header {
  font-size: 36px;
  line-height: 31.5px;
  margin-bottom: 38px;
}

p.about-paragraph {
  font-size: 15px;
  line-height: 23.4px;
}

p.about-paragraph:not(:last-of-type) {
  margin-bottom: 20px;
}

@media screen and (min-width: 630px) {
  div#about-section {
    padding-left: var(--footer-left-padding-margin);
  }

  p.about-paragraph {
      width: 448px;
      margin-right: auto;
  }
}

/* 700px once we've done desktop nav */

/* @media screen and (min-width: 650px) {
    div#about-section {
      padding-right: 25%;
    }
  }

  
  @media screen and (min-width: 750px) {
    div#about-section {
      padding-left: 80px;
    }
  }

  
  @media screen and (min-width: 550px) {
    div#about-section {
      padding-left: 80px;
    }
  }
   */