div#contact-section {
    background: var(--black-1);
    padding-left: 28.96px;
    padding-top: 45.93px;
}

h2#contact-header {
    font-size: 48px;
    color: var(--white-1);
}

div#contact-form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 43.9px 43.9px 183.14px;
}