@font-face {
  font-family: 'VisbyCF-DemiBold';
  src: url('VisbyCF-DemiBold.eot');
  src: url('VisbyCF-DemiBold.eot?#iefix') format('embedded-opentype'),
       url('VisbyCF-DemiBold.svg#VisbyCF-DemiBold') format('svg'),
       url('VisbyCF-DemiBold.ttf') format('truetype'),
       url('VisbyCF-DemiBold.woff') format('woff'),
       url('VisbyCF-DemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'VisbyCF-Bold';
    src: url('VisbyCF-Bold.eot');
    src: url('VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),
         url('VisbyCF-Bold.svg#VisbyCF-Bold') format('svg'),
         url('VisbyCF-Bold.ttf') format('truetype'),
         url('VisbyCF-Bold.woff') format('woff'),
         url('VisbyCF-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  