/* HOMEPAGE SECTION 1 - MAIN - INFO */

div#home-main-section {
  position: relative; /* This line is just so the button's positioned parent is this section and not the html container, which ruins the z-index in mobile menu. It's also for the svg dots on left side. */
  margin-left: var(--home-left-margin-padding);
  margin-right: var(--home-right-margin-padding);
  --main-info-top-margin: 50px;
}

img#home-left-dots {
  display: none;
}

div#home-main-content-info {
  display: flex;
  flex-direction: column;
  margin-top: var(--main-info-top-margin);
}

h1#home-main-info-header {
  font-size: 48px;
  line-height: 87.5%;
  margin-bottom: 44px;
}

h4#home-main-info-subheader {
  display: none;
}

p#home-main-info-tagline {
  font-size: 13px;
  width: 64%; /* make sure this is correct throughout */
  line-height: 20.28px;
  margin-bottom: 32px;
}

a#home-main-info-button {
  font-size: 17.5px;
  width: 134px;
  height: 37px;
  border: 1px solid var(--white-1);
  margin-bottom: 59.59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#home-profile-img {
  display: none;
}

/* HOMEPAGE SECTION 2 - SECONDARY - PROJECTS */

div#home-projects-section {
  background: var(--white-1);
  color: var(--black-1);
  overflow: auto; /* This is so the margin on content-container works properly */
}

/* extra container here so we can use margin like on other pages instead of padding */
div#home-projects-content-container {
    margin-top: 49.03px;
    margin-bottom: 68.93px;
    margin-left: var(--home-left-margin-padding);
    margin-right: var(--home-right-margin-padding);
}

h3#home-projects-section-header {
  font-size: 25.12px;
  margin-bottom: 33.47px;
}

a.home-projects-single.container {
  display: flex;
  flex-direction: column;
}

a.home-projects-single.container:not(:last-of-type) {
  margin-bottom: 41.62px;
}

h4.home-projects-single-header {
  text-decoration: none;
  font-size: 12.48px;
  font-weight: 700;
  font-family: 'VisbyCF-Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 21.39px;
}

img.home-projects-single-image {
    width: 100%;
}

@media screen and (min-width: 700px) {
  img#home-left-dots {
    display: block;
    position: absolute;
    /* left: -330px; */
    /* left: -54%; */
    right: 102%;
    top: var(--main-info-top-margin);
  }

  div#home-main-content-container {
    display: flex;
    justify-content: space-between;
  }

  h1#home-main-info-header {
    font-size: 55.88px;
    line-height: 87.5%;
    margin-bottom: 18.99px;
  }

  h4#home-main-info-subheader {
    display: block;
    font-size: 15px;
    line-height: 23.4px;
    color: var(--grey-2);
    margin-bottom: 15px;
  }

  p#home-main-info-tagline {
    font-size: 15px;
  }

  a#home-main-info-button {
    width: 139px;
  }

  img#home-profile-img {
    display: block;
    /* z-index here to win over the svg dots */
    z-index: 2;
    width: 350px;
  }

  /* HOMEPAGE SECTION 2 - SECONDARY - PROJECTS */
  
  div#home-projects-content-container {
      margin-top: 73.27px;
      margin-bottom: 55.92px;
  }
  
  h3#home-projects-section-header {
    font-size: 36px;
    margin-bottom: 53.47px;
  }
  
  a.home-projects-single.container:not(:last-of-type) {
    margin-bottom: 72.18px;
  }
  
  h4.home-projects-single-header {
    font-size: 17.5px;
    font-weight: 700;
    height: 30px;
  }
}

@media screen and (min-width: 800px) {
  div#home-main-section {
    --main-info-top-margin: 95.75px;
  }

  img#home-left-dots {
    right: 102%;
  }

  img#home-profile-img {
    width: 394px;
  }
}

@media screen and (min-width: 1000px) {
  img#home-left-dots {
    right: 107%;
  }
}
