:root {
  --white-1: #f4f4f4;
  --white-2: #ffffff;
  --black-1: #2e2d2c;
  --grey-1: #9f9b97;
  --grey-2: #8F8F8F;
  --grey-3: #606060;

  --home-left-margin-padding: /* 51px */ 13.75%;
  --home-right-margin-padding: /* 51px */ 13.75%;
}

/* UTILITY CLASSES */

.hidden {
  display: none;
}

.hidden-transition {
  visibility: hidden;
  opacity: 0;
}

/* VARIOUS ELEMENTS */

* {
  font-family: "VisbyCF-DemiBold", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--black-1);
  color: var(--white-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HOMEPAGE SECTION 1 - MAIN - INFO */

div#home-main-section {
  position: relative; /* This line is just so the button's positioned parent is this section and not the html container, which ruins the z-index in mobile menu. It's also for the svg dots on left side. */
  margin-left: var(--home-left-margin-padding);
  margin-right: var(--home-right-margin-padding);
  --main-info-top-margin: 50px;
}

img#home-left-dots {
    display: none;
}

div#home-main-content-info {
  display: flex;
  flex-direction: column;
  margin-top: var(--main-info-top-margin);
}

h1#home-main-info-header {
  font-size: 48px;
  line-height: 87.5%;
  margin-bottom: 44px;
}

h4#home-main-info-subheader {
    display: none;
}

p#home-main-info-tagline {
  font-size: 13px;
  width: 64%; /* make sure this is correct throughout */
  line-height: 20.28px;
  margin-bottom: 32px;
}

a#home-main-info-button {
  font-size: 17.5px;
  width: 134px;
  height: 37px;
  border: 1px solid var(--white-1);
  margin-bottom: 59.59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#home-profile-img {
  display: none;
}

/* HOMEPAGE SECTION 2 - SECONDARY - PROJECTS */

div#home-projects-section {
  background: var(--white-1);
  padding-top: 49.03px;
  padding-bottom: 68.93px;
  padding-left: var(--home-left-margin-padding);
  padding-right: var(--home-right-margin-padding);
}

div#home-projects-section * {
  color: var(--black-1);
}

h3#home-projects-section-header {
  font-weight: 600;
  font-size: 25.12px;
  margin-bottom: 33.47px;
}

a.home-projects-single.container {
  display: flex;
  flex-direction: column;
}

a.home-projects-single.container:not(:last-of-type) {
  margin-bottom: 41.62px;
}

h4.home-projects-single-header {
  text-decoration: none;
  font-size: 12.48px;
  font-weight: 700;
  height: 21.39px;
}

/* FOOTER SECTION */

footer {
    /* We use padding here so the border comes out right. */
    border-top: 1px solid var(--white-1);
  padding-top: 37.93px;
  margin-bottom: 19.83px;
  padding-left: var(--home-left-margin-padding);
  padding-right: var(--home-right-margin-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 16.85px;
}

img#footer-logo {
  grid-row: 1 / 2;
  grid-column: 1 /2;
  height: 20.85px;
}

div#footer-contact-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12.5px;
}

div#footer-copyright-container-mobile {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  text-align: center;
  width: 140px;
  margin: auto;
  line-height: 12.48px;
  font-size: 8px;
}

div#footer-copyright-desktop, 
div#footer-creators-desktop {
    display: none;
}

@media screen and (min-width: 700px) {
  :root {
    --home-left-margin-padding: 6%;
    --home-right-margin-padding: 6%;
  }

  img#home-left-dots {
    display: block;
    position: absolute;
    /* left: -330px; */
    /* left: -54%; */
    right: 102%;
    top: var(--main-info-top-margin);
}

  div#home-main-content-container {
    display: flex;
    justify-content: space-between;
  }

  h1#home-main-info-header {
    font-size: 55.88px;
    line-height: 87.5%;
    margin-bottom: 18.99px;
  }
  
  h4#home-main-info-subheader {
    display: block;
    font-size: 15px;
    line-height: 23.4px;
    color: var(--grey-2);
    margin-bottom: 15px;
}

p#home-main-info-tagline {
    font-size: 15px;
  }

  a#home-main-info-button {
    width: 139px;
  }

  img#home-profile-img {
    display: block;
    /* z-index here to win over the svg dots */
    z-index: 2;
    width: 350px;
  }

  /* FOOTER SECTION */

footer {
    grid-template-rows: 2fr 1fr 1fr;
  }
    
  div#footer-copyright-container-mobile {
    display: none;
  }
  
  div#footer-copyright-desktop, 
  div#footer-creators-desktop {
      display: block;
  }
  
  img#footer-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 30.57px;
  }

  div#footer-copyright-desktop {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      font-size: 12.5px;
  }
  
  div#footer-contact-container {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  div#footer-contact-email {
      margin-bottom: 8px;
  }

  
  div#footer-creators-desktop {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 12.5px;
    color: var(--grey-3);
    display: inline-block;
    margin: auto;
}

}

@media screen and (min-width: 800px) {
    div#home-main-section {
        --main-info-top-margin: 95.75px;
      }

  img#home-left-dots {
    right: 102%;
}

  img#home-profile-img {
    width: 394px;
  }
}


@media screen and (min-width: 1000px) {
    :root {
        --home-left-margin-padding: 13%;
        --home-right-margin-padding: 13%;
      }

  img#home-left-dots {
    right: 107%;
}

}
