:root {
  --white-1: #f4f4f4;
  --white-2: #ffffff;
  --black-1: #2e2d2c;
  --grey-1: #9f9b97;
  --grey-2: #8f8f8f;
  --grey-3: #606060;

  --home-left-margin-padding: /* 51px */ 13.75%;
  --home-right-margin-padding: /* 51px */ 13.75%;
}

/* UTILITY CLASSES */

.hidden {
  display: none!important;
}

.hidden-fade {
  visibility: hidden;
  opacity: 0;
}

.desktop {
  display: none;
}

/* VARIOUS ELEMENTS */

* {
  font-family: "VisbyCF-DemiBold", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--black-1);
  color: var(--white-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 700px) {
  :root {
    --home-left-margin-padding: 6%;
    --home-right-margin-padding: 6%;
  }

  /* UTILITY */
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --home-left-margin-padding: 13%;
    --home-right-margin-padding: 13%;
  }
}
