:root {
  --white-1: #f4f4f4;
  --white-2: #ffffff;
  --black-1: #2e2d2c;
  --grey-1: #9f9b97;
  --grey-2: #8f8f8f;
  --grey-3: #606060;

  --site-left-margin-padding: /* 51px */ 13vw;
  --site-right-margin-padding: /* 51px */ 13vw;

  --footer-height: 135px;
}

/* UTILITY CLASSES */

.hidden {
  display: none !important;
}

.hidden-fade {
  /* visibility: hidden; */
  opacity: 0;
  /* width: 0; */
}

.hidden-portfolio {
    opacity: 0;
    position: absolute;
}

*.no-width, *.no-width * {
    height: 0 !important;
    margin: 0 !important;
    position: absolute;
    left: -200%;
}

.desktop {
  display: none;
}

/* VARIOUS ELEMENTS */

* {
  font-family: "VisbyCF-DemiBold", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--black-1);
  color: var(--white-1);
  /* The following styles are so the footer gets fixed to bottom of page. */
  min-height: 100vh;
  position: relative;
  padding-bottom: var(--footer-height);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background: var(--black-1);
  color: var(--white-1);
}

@media screen and (min-width: 700px) {
  :root {
    --site-left-margin-padding: 5.8vw;
    --site-right-margin-padding: 5.8vw;
  }

  /* UTILITY */
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --site-left-margin-padding: 12.8vw;
    --site-right-margin-padding: 12.8vw;
  }
}

@media screen and (min-width: 1500px) {
  /* Uniform margin on larger screens. Even though this references elements from other files, the code is all kept here for simplicity's sake. */
  nav,
  div#home-main-section,
  div#home-projects-content-container,
  div#footer-content-container,
  div#portfolio-content-container,
  div#single-project-content-container,
  div#about-section,
  div#contact-section {
    max-width: 1096px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
