nav#desktop-nav {
  display: none;
}

/* MOBILE NAV */
/* Mobile nav has three main sections: menu icon, menu overlay, and logo */

nav#mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 101.41px;
  margin-left: var(--home-left-margin-padding);
  margin-right: var(--home-right-margin-padding);

  /* z-index is very important for the mobile menu. The nav's z-index should be set so that the later sibling elements which are positioned don't end up higher than the nav. It only works to set the nav (as opposed to the mobile-options-container), since the child element's z-index is only as great as its parent's. See this article for explanation: https://www.freecodecamp.org/news/css-z-index-not-working/ */
  z-index: 1;
}

/* Not using dots */
/* nav img#nav-svg-dots {
    position: absolute;
    left: 10.26px;
    top: 11.92px;
  } */

/* Mobile nav menu icon */
nav#mobile-nav img#nav-mobile-menu-icon {
  margin-top: 36.9px;
  width: 19.83px;
}

/* Animations classes for mobile nav */

/* !important is needed to override the animation that's already on the element */

.overlay-fade-out {
  /* for overlay */
  /* background: rgba(244, 244, 244, 0) !important; */
  animation: fade-out 0.35s !important;
}

.hidden-slide-left {
  /* for container */
  /* left: -56%; */
  animation: slide-right 0.35s !important;
}

/* Menu overlay */
div#nav-mobile-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(244, 244, 244, 0.2);
  animation: fade-in 0.35s;
}

@keyframes fade-in {
  from {
    background: rgba(244, 244, 244, 0);
  }

  to {
    background: rgba(244, 244, 244, 0.2);
  }
}

@keyframes fade-out {
  from {
    background: rgba(244, 244, 244, 0.2);
  }

  to {
    background: rgba(244, 244, 244, 0);
  }
}

/* The actual mobile menu */

div#nav-mobile-options-container {
  width: 56vw;
  height: 100vh;
  background: var(--white-2);
  /* z-index: 1; */
  position: fixed; /* *** Need to see if he likes this behavior, or if we should find a way to disable scrolling when menu is open. */
}

div#nav-mobile-options-container/* :not(.hidden-slide-left) */ {
  /* transition: left 0.35s; */
  animation: slide-left 0.35s;
}

@keyframes slide-left {
  from {
    left: -56%;
  }

  to {
    left: 0;
  }
}

@keyframes slide-right {
  from {
    left: 0;
  }

  to {
    left: -56%;
  }
}

div#nav-mobile-options-container * {
  color: var(--black-1);
}

span#nav-mobile-exit-icon {
  font-size: 22.536px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 36px;
  left: var(--home-left-margin-padding);
}

div#nav-mobile-options-container ul {
  display: flex;
  flex-direction: column;
  margin-top: 109.62px;
  margin-left: var(--home-left-margin-padding);
}

div#nav-mobile-options-container li {
  margin-bottom: 14.39px;
}

a.nav-mobile-option-single {
  font-weight: 600;
  font-size: 23.78px;
}

/* Logo */
nav#mobile-nav img#nav-logo {
  width: 51.1px;
  margin-top: 37.16px;
}

nav img#nav-logo.logo-active {
  /* Since we are embedding svg in an img tag, we need to use a filter to make control it.
          See https://medium.com/@union_io/swapping-fill-color-on-image-tag-svgs-using-css-filters-fa4818bf7ec6 for details.
          I used the following converter generator: https://angel-rs.github.io/css-color-filter-generator/.
          Hopefully it works okay.
      */
  filter: brightness(0) saturate(100%) invert(13%) sepia(7%) saturate(251%)
    hue-rotate(349deg) brightness(92%) contrast(86%);
}

@media screen and (min-width: 700px) {
  nav#mobile-nav {
    display: none;
  }

  /* DESKTOP NAV */

  nav#desktop-nav {
    height: 82.57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--home-left-margin-padding);
    margin-right: var(--home-right-margin-padding);
    position: relative;
  }

  nav#desktop-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: 10px;
  }

  nav#desktop-nav ul li a {
    opacity: 0.7;
    transition: opacity 0.35s;
  }

  nav#desktop-nav ul li a:hover {
    opacity: 1;
  }

  nav#desktop-nav img#nav-svg-dots {
    position: absolute;
    right: 18%;
    top: 11px;
    /* This is to win over the relatively positioned home main section */
    z-index: 1;
  }

  /* Special positioning for all pages other than home page */
  nav#desktop-nav img#nav-svg-dots.position-top {
    top: auto;
    bottom: 0;
  }

  nav#desktop-nav img#nav-logo {
    height: 28.06px;
    margin-right: 10px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.35s;
  }

  nav#desktop-nav img#nav-logo:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 1000px) {
  nav#desktop-nav img#nav-svg-dots {
    right: 27%;
  }
}
