div#portfolio-section {
  background: var(--white-1);
  color: var(--black-1);
  overflow: auto; /* This is so the margin on content-container works properly */
}

/* extra container here so we can use margin like on other pages instead of padding */
div#portfolio-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 55.93px;
  margin-bottom: 17.91px;
  margin-right: var(--home-right-margin-padding);
  margin-left: var(--home-left-margin-padding);
}

h2#portfolio-header {
  font-size: 36px;
  line-height: 31.5px;
  margin-bottom: 20px;
}

h4#portfolio-subheader {
  font-size: 15px;
  line-height: 23.4px;
  width: 130px;
  margin-bottom: 28px;
}

div#portfolio-tabs-container {
  display: flex;
  margin-bottom: 35.63px;
  position: relative;
}

input.portfolio-input-tab {
  display: none;
}

label.portfolio-single-tab {
  font-size: 11.45px;
  font-weight: 700;
  font-family: "VisbyCF-Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 82.71px;
  height: 24.87px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 0.9;
  transition: opacity .3s;
}

label.portfolio-single-tab:hover {
    opacity: 1;
}

/* input.portfolio-input-tab:checked + label.portfolio-single-tab {
  background: var(--white-2);
} */

/* Same dimensions as label.portfolio-single-tab */
div#tab-background {
  background: var(--white-2);
  width: 82.71px;
  height: 24.87px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

input#branding:checked ~ div#tab-background {
  transform: translateX(0);
  transition: transform 0.5s;
}

input#campaigns:checked ~ div#tab-background {
  transform: translateX(100%);
  transition: transform 0.5s;
}

input#videos:checked ~ div#tab-background {
  transform: translateX(200%);
  transition: transform 0.5s;
}

div.portfolio-projects-container {
  transition: visibility 0.3s, opacity 0.3s; /* Transition time should match timeout time in portfolio-types */
}

a.portfolio-single-project {
  display: block;
}

a.portfolio-single-project:not(:last-of-type) {
  margin-bottom: 27.45px;
}

h4.portfolio-single-header {
  font-size: 12.48px;
  margin-bottom: 7px;
}

/* Note about image dimensions: The ratio we are using is based on the Fruity Bar cover image dimensions, which are 4000 x 2250 pixels. This simplifies to 16 x 9. In percentage, the height is 56.25% of the width.
To implement this, we used vw in order to have a constant to measure from. Height in vw here is calculated to be 56.25% of the width in vw. */
img.portfolio-single-image {
  width: 70vw;
  height: 39.375vw;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 700px) {
  div#portfolio-content-container {
    margin-top: 100.71px;
    margin-bottom: 81.56px;
    margin-right: var(--home-right-margin-padding);
    margin-left: var(--home-left-margin-padding);
  }

  h2#portfolio-header {
    margin-bottom: 58px;
  }

  h4#portfolio-subheader {
    width: 159.98px;
    margin-bottom: 73.46px;
  }

  div#portfolio-tabs-container {
    margin-bottom: 22.14px;
  }

  label.portfolio-single-tab {
    font-size: 12.4px;
    width: 100.41px;
    height: 31px;
  }

  /* Same dimensions as label.portfolio-single-tab */
  div#tab-background {
    width: 100.41px;
    height: 31px;
  }

  div.portfolio-projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 10.5% /* 64.69px */;
    row-gap: 27.14px;
  }

  a.portfolio-single-project:not(:last-of-type) {
    margin-bottom: 0;
  }

  h4.portfolio-single-header {
    font-size: 12.39px;
    margin-bottom: 10px;
  }

  picture.desktop {
    height: 80%;
  }

  img.portfolio-single-image {
    width: 32.5vw;
    height: 18.28125vw;
    object-fit: cover;
    /* Check out this link for help with object-fit:
    https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
    /* overflow: hidden; */
  }
}
