div#single-project-section {
  background: var(--white-1);
  color: var(--black-1);
  overflow: auto; /* This is so the margin on content-container works properly */
}

/* extra container here so we can use margin like on other pages instead of padding */
div#single-project-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 45.93px;
  margin-bottom: 27.92px;
  margin-right: var(--site-right-margin-padding);
  margin-left: var(--site-left-margin-padding);
}

h2#single-project-header {
  font-size: 36px;
  line-height: 87.5%;
  margin-bottom: 28.6px;
}

h4#single-project-subheader {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.25px;
  margin-bottom: 27px;
  white-space: pre-wrap;
}

p#client-name,
p#date-completed {
  color: var(--grey-1);
  font-size: 15px;
  letter-spacing: 0.25px;
}

p#client-name {
  margin-bottom: 5px;
}

p#date-completed {
  margin-bottom: 21px;
}

div#project-credits-button {
  font-size: 12.5px;
  letter-spacing: 0.25px;
  line-height: 19px;
  text-decoration: underline;
  color: var(--grey-1);
  cursor: pointer;
  margin-bottom: 59.2px;
  position: relative; /* Container for popup */
}

div#project-credits-popup {
  /* width: 235.69px; */
  /* height: 149.79px; */
  padding: 20.69px 32.26px 15.51px 32.26px;
  background: var(--white-2);
  position: absolute;
  bottom: 48px;
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -moz-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  -ms-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  cursor: auto;
}

div#arrow {
  background: var(--white-2);
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: -10px;
  left: 32px;
  transform: rotate(45deg);
}

span#credits-exit-icon {
  position: absolute;
  top: 11.83px;
  right: 18.94px;
  cursor: pointer;
}

div#project-credits-popup p#credit {
  text-decoration: none;
  font-size: 12.45px;
  letter-spacing: 0.25px;
  line-height: 27.44px;
  width: max-content;
}

*.single-project-inside-media,
*.single-project-inside-media * {
  width: 100%;
}

*.single-project-inside-media:not(:last-child) {
  margin-bottom: 16.62px;
}

@media screen and (min-width: 700px) {
  div#single-project-content-container {
    margin-top: 100.71px;
    margin-bottom: 80.69px;
  }

  h2#single-project-header {
    font-size: 36px;
    line-height: 31.5px;
    margin-bottom: 49.6px;
  }

  h4#single-project-subheader {
    width: 317.46px;
    margin-bottom: 27px;
  }

  div#project-credits-button {
    margin-bottom: 46.97px;
    line-height: 13px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    width: fit-content; /* This is just so we can use calc(100% + px) in positioning the popup below. */
    -webkit-transition: 0.35s border-color;
    -moz-transition: 0.35s border-color;
    -o-transition: 0.35s border-color;
    -ms-transition: 0.35s border-color;
    transition: 0.35s border-color;
  }

  div#project-credits-button:hover {
    border-color: var(--grey-1);
  }

  div#project-credits-popup {
    width: 203.64px;
    padding: 13.99px 21.82px 15.51px 21.82px;
    bottom: auto;
    top: -13px;
    left: calc(100% + 20px);
    /* right: 0; */
  }

  div#arrow {
    height: 12.17px;
    width: 12.17px;
    top: 16px;
    bottom: auto;
    left: -6px;
  }

  span#credits-exit-icon {
    top: 8px;
    right: 8.99px;
  }

  /* div#project-credits-popup p#credit {
        line-height: 15.62px;
    } */

  *.single-project-inside-media:not(:last-child) {
    margin-bottom: 44.23px;
  }
}
