-
    const desktopInsideMedia = data.desktop_inside_media ? JSON.parse(data.desktop_inside_media) : [];
    //- console.log(desktopInsideMedia)
    const allowedMediaTypes = constants.allowedImageTypes.concat(constants.allowedVideoTypes)

div.add-project-input-section#desktop-inside-media-div
    h3.input-section-header Desktop Inside Media
    div#all-desktop-inside-media-container
        h4 Saved Media
        each file in desktopInsideMedia
            div.single-desktop-inside-media.saved-image
                span.inside-media-delete.saved-image-delete(data-file=file) Delete This Media From Project
                img.inside-media-preview.preview-image(src=generateFileURL.insideMedia(data.slug, file))
        
        div.inside-media-divider
        
        input#desktop-inside-media-input(type="file" name="single-desktop-inside-media" accept=allowedMediaTypes.join(', ') multiple required=!data.desktop_inside_media)

    

    //- div.more-media-div
    //-     div Add More Media
    //-     input#more-desktop-media-input(type="number" min="1" max="50" value="1")
    //-     button#more-desktop-media-button(type="button") Go