div.add-project-input-section#slug-div
    h3.input-section-header Slug
    div#default-slug Default slug: 
        span
    input#input-project-slug(type="text" name="project-slug" placeholder="Enter custom slug..." value=data.slug || '' disabled=data.slug)