div.add-project-input-section#project-type-div
    h3.input-section-header Project Type
    div.radio-div
        input(type="radio" id="branding" name="project-type" value="branding" 
        checked=(data.type === 'Branding' || !data.type) )
        label(for="branding") Branding
    div.radio-div
        input(type="radio" id="campaigns" name="project-type" value="campaigns"
        checked=(data.type === 'Campaigns') )
        label(for="campaigns") Campaigns
    div.radio-div
        input(type="radio" id="videos" name="project-type" value="videos"
        checked=(data.type === 'Videos') )
        label(for="videos") Videos