//- for some reason we have to add the text "between the tags" since there's no value attribute for textarea

div.add-project-input-section
    h3.input-section-header Project Description
    textarea#input-project-description(name="project-description", cols="30", rows="10" placeholder="Enter your description...") #{data.description}