div.add-project-input-section
    h3.input-section-header Date Completed
    input#input-date-completed(type="text" name="date-completed" placeholder="Enter a date or time..." value=data.date_completed)